.sprite {
    background-image: url(../pics/sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-analytics-blue {
    width: 58px;
    height: 66px;
    background-position: -5px -5px;
}

.sprite-analytics-green {
    width: 58px;
    height: 66px;
    background-position: -73px -5px;
}
.sprite-analytics-green:hover{
  background-position: -5px -5px;
}

.sprite-blue-man {
    width: 24px;
    height: 24px;
    background-position: -141px -5px;
    float: left;
    display: inline-block;
}

.sprite-blue-paper {
    width: 58px;
    height: 66px;
    background-position: -175px -5px;
}

.sprite-customers-blue {
    width: 58px;
    height: 66px;
    background-position: -243px -5px;
}

.sprite-customers-green {
    width: 62px;
    height: 64px;
    background-position: -311px -5px;
}
.sprite-customers-green:hover{
  background-position: -243px -5px;
}

.sprite-dashboard-blue {
    width: 59px;
    height: 73px;
    background-position: -383px -5px;
}

.sprite-dashboard-green {
    width: 59px;
    height: 73px;
    background-position: -452px -5px;
}
.sprite-dashboard-green:hover{
  background-position: -383px -5px;
}

.sprite-diagonal-bg {
    width: 84px;
    height: 77px;
    background-position: -521px -5px;
}

.sprite-dog {
    width: 256px;
    height: 256px;
    background-position: -615px -5px;
}

.sprite-down-arrow {
    width: 315px;
    height: 264px;
    background-position: -881px -5px;
}

.sprite-facebook {
    width: 315px;
    height: 264px;
    background-position: -1206px -5px;
}

.sprite-facebook-icon {
    width: 512px;
    height: 512px;
    background-position: -1531px -5px;
}

.sprite-foursquare {
    width: 315px;
    height: 264px;
    background-position: -5px -527px;
}

.sprite-foursquare-icon {
    width: 256px;
    height: 256px;
    background-position: -330px -527px;
}

.sprite-google {
    width: 315px;
    height: 264px;
    background-position: -596px -527px;
}

.sprite-gray-facebook {
    width: 512px;
    height: 512px;
    background-position: -921px -527px;
}

.sprite-gray-foursquare {
    width: 256px;
    height: 256px;
    background-position: -1443px -527px;
}

.sprite-gray-gear {
    width: 30px;
    height: 30px;
    background-position: -1709px -527px;
    float: right;
    margin-top: 5px;
}

.sprite-gray-twitter {
    width: 1067px;
    height: 1067px;
    background-position: -2053px -5px;
}

.sprite-gray-youtube {
    width: 256px;
    height: 256px;
    background-position: -5px -1082px;
}

.sprite-green-check {
    width: 315px;
    height: 264px;
    background-position: -271px -1082px;
}

.sprite-green-light-bulb {
    width: 315px;
    height: 264px;
    background-position: -596px -1082px;
}

.sprite-green-man {
    width: 82px;
    height: 70px;
    background-position: -921px -1082px;
}

.sprite-green-page {
    width: 315px;
    height: 264px;
    background-position: -1013px -1082px;
}

.sprite-green-paper {
    width: 58px;
    height: 66px;
    background-position: -1338px -1082px;
}
.sprite-green-paper:hover{
  background-position: -175px -5px;
}

.sprite-left-half-circle {
    width: 125px;
    height: 263px;
    background-position: -1406px -1082px;
}

.sprite-left-orange-arrow {
    width: 31px;
    height: 31px;
    background-position: -1541px -1082px;
    display: inline-block;
    margin-top: 5px;
}

.sprite-messages-blue {
    width: 58px;
    height: 65px;
    background-position: -1582px -1082px;
}

.sprite-messages-green {
    width: 58px;
    height: 65px;
    background-position: -1650px -1082px;
}
.sprite-messages-green:hover{
  background-position: -1582px -1082px;
}

.sprite-orange-man {
    width: 82px;
    height: 70px;
    background-position: -1718px -1082px;
}

.sprite-page-creator {
    width: 45px;
    height: 50px;
    background-position: -1810px -1082px;
}

.sprite-promotions-blue {
    width: 58px;
    height: 69px;
    background-position: -1865px -1082px;
}

.sprite-promotions-green {
    width: 58px;
    height: 69px;
    background-position: -1933px -1082px;
}
.sprite-promotions-green:hover{
  background-position: -1865px -1082px;
}

.sprite-question {
    width: 30px;
    height: 30px;
    background-position: -2001px -1082px;
    display: inline-block;
    margin: 10px;
}

.sprite-right-half-circle {
    width: 125px;
    height: 263px;
    background-position: -2041px -1082px;
}

.sprite-right-orange-arrow {
    width: 31px;
    height: 31px;
    background-position: -2176px -1082px;
    display: inline-block;
    margin-top: 5px;
}

.sprite-search {
    width: 23px;
    height: 22px;
    background-position: -3130px -5px;
    float: right;
    margin-top: 5px;
}

.sprite-see-how-others-ad {
    width: 284px;
    height: 174px;
    background-position: -2217px -1082px;
}

.sprite-twitter {
    width: 315px;
    height: 264px;
    background-position: -2511px -1082px;
}

.sprite-twitter-icon {
    width: 1067px;
    height: 1067px;
    background-position: -1338px -1355px;
}

.sprite-up-blue-arrow {
    width: 315px;
    height: 264px;
    background-position: -2836px -1082px;
}

.sprite-version-2-0-ad {
    width: 284px;
    height: 164px;
    background-position: -5px -1356px;
}

.sprite-watch-what-you-say-ad {
    width: 284px;
    height: 164px;
    background-position: -299px -1356px;
}

.sprite-white-gear {
    width: 30px;
    height: 30px;
    background-position: -593px -1356px;
    display: inline-block;
    margin: 10px;
}

.sprite-youtube-icon {
    width: 256px;
    height: 256px;
    background-position: -633px -1356px;
}
