.sprite {
    background-image: url(../pics/sprites.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-analytics-blue {
    width: 58px;
    height: 66px;
    background-position: -5px -5px;
}

.sprite-analytics-green {
    width: 58px;
    height: 66px;
    background-position: -73px -5px;
}
.sprite-analytics-green:hover{
  background-position: -5px -5px;
}

.sprite-blue-man {
    width: 24px;
    height: 24px;
    background-position: -141px -5px;
    float: left;
    display: inline-block;
}

.sprite-blue-man-3 {
    width: 55px;
    height: 29px;
    background-position: -175px -5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.sprite-blue-man-32 {
    width: 55px;
    height: 29px;
    background-position: -240px -5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.sprite-blue-man-36 {
    width: 55px;
    height: 29px;
    background-position: -305px -5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.sprite-blue-paper {
    width: 58px;
    height: 66px;
    background-position: -370px -5px;
}

.sprite-car-icon {
    width: 35px;
    height: 35px;
    background-position: -438px -5px;
    display: inline-block;
}

.sprite-customers-blue {
    width: 58px;
    height: 66px;
    background-position: -483px -5px;
}

.sprite-customers-green {
    width: 62px;
    height: 64px;
    background-position: -551px -5px;
}
.sprite-customers-green:hover{
  background-position: -483px -5px;
}

.sprite-dashboard-blue {
    width: 59px;
    height: 73px;
    background-position: -141px -79px;
}

.sprite-dashboard-green {
    width: 59px;
    height: 73px;
    background-position: -210px -79px;
}
.sprite-dashboard-green:hover{
  background-position: -141px -79px;
}

.sprite-diagonal-bg {
    width: 84px;
    height: 77px;
    background-position: -551px -79px;
}

.sprite-facebook-icon {
    width: 22px;
    height: 22px;
    background-position: -623px -5px;
}

.sprite-facebook-icon-gray {
    width: 22px;
    height: 22px;
    background-position: -655px -5px;
    display: inline-block;
}
.sprite-facebook-icon-gray:hover{
  background-position: -623px -5px;
}

.sprite-filled-in-check-orange {
    width: 30px;
    height: 30px;
    background-position: -623px -37px;
}

.sprite-foursquare-icon {
    width: 22px;
    height: 22px;
    background-position: -279px -77px;
}

.sprite-foursquare-icon-gray {
    width: 22px;
    height: 22px;
    background-position: -311px -77px;
    display: inline-block;
}
.sprite-foursquare-icon-gray:hover{
  background-position: -279px -77px;
}

.sprite-gray-1 {
    width: 20px;
    height: 20px;
    background-position: -438px -77px;
}

.sprite-gray-2 {
    width: 20px;
    height: 20px;
    background-position: -645px -77px;
}

.sprite-gray-3 {
    width: 20px;
    height: 20px;
    background-position: -5px -107px;
}

.sprite-gray-4 {
    width: 20px;
    height: 20px;
    background-position: -35px -107px;
}

.sprite-gray-gear {
    width: 30px;
    height: 30px;
    background-position: -65px -107px;
    float: right;
    margin-top: 5px;
}

.sprite-gray-man-3 {
    width: 55px;
    height: 29px;
    background-position: -5px -166px;
}

.sprite-gray-man-32 {
    width: 55px;
    height: 29px;
    background-position: -70px -166px;
}

.sprite-gray-man-36 {
    width: 55px;
    height: 29px;
    background-position: -135px -166px;
}

.sprite-green-1 {
    width: 20px;
    height: 20px;
    background-position: -105px -107px;
}

.sprite-green-2 {
    width: 20px;
    height: 20px;
    background-position: -343px -107px;
}

.sprite-green-3 {
    width: 20px;
    height: 20px;
    background-position: -373px -107px;
}

.sprite-green-4 {
    width: 20px;
    height: 20px;
    background-position: -403px -107px;
}

.sprite-green-check {
    width: 40px;
    height: 40px;
    background-position: -200px -166px;
    float: left;
}

.sprite-green-light-bulb {
    width: 40px;
    height: 40px;
    background-position: -250px -166px;
    float: left;
}

.sprite-green-man {
    width: 82px;
    height: 70px;
    background-position: -300px -166px;
}

.sprite-green-page {
    width: 40px;
    height: 40px;
    background-position: -392px -166px;
    float: left;
}

.sprite-green-paper {
    width: 58px;
    height: 66px;
    background-position: -442px -166px;
}
.sprite-green-paper:hover{
  background-position: -370px -5px;
}

.sprite-half-circle-left {
    width: 28px;
    height: 58px;
    background-position: -510px -107px;
}

.sprite-half-circle-right {
    width: 28px;
    height: 58px;
    background-position: -645px -107px;
}

.sprite-left-half-circle {
    width: 125px;
    height: 263px;
    background-position: -510px -175px;
}

.sprite-left-orange-arrow {
    width: 31px;
    height: 31px;
    background-position: -645px -175px;
    display: inline-block;
    margin-top: 5px;
}

.sprite-messages-blue {
    width: 58px;
    height: 65px;
    background-position: -5px -448px;
}

.sprite-messages-green {
    width: 58px;
    height: 65px;
    background-position: -73px -448px;
}
.sprite-messages-green:hover{
  background-position: -5px -448px;
}

.sprite-orange-down-arrow {
    width: 18px;
    height: 18px;
    background-position: -433px -107px;
    float: right;
}

.sprite-orange-man {
    width: 82px;
    height: 70px;
    background-position: -141px -448px;
}

.sprite-page-creator {
    width: 45px;
    height: 50px;
    background-position: -233px -448px;
}

.sprite-promotions-blue {
    width: 58px;
    height: 69px;
    background-position: -288px -448px;
}

.sprite-promotions-green {
    width: 58px;
    height: 69px;
    background-position: -356px -448px;
}
.sprite-promotions-green:hover{
  background-position: -288px -448px;
}

.sprite-question {
    width: 30px;
    height: 30px;
    background-position: -5px -216px;
    display: inline-block;
    margin: 10px;
}

.sprite-right-half-circle {
    width: 125px;
    height: 263px;
    background-position: -687px -5px;
}

.sprite-right-orange-arrow {
    width: 31px;
    height: 31px;
    background-position: -5px -278px;
    display: inline-block;
    margin-top: 5px;
}

.sprite-search {
    width: 23px;
    height: 22px;
    background-position: -46px -278px;
    float: right;
    margin: 5px;
}

.sprite-see-how-others-ad {
    width: 284px;
    height: 174px;
    background-position: -424px -448px;
}

.sprite-twitter-icon {
    width: 22px;
    height: 22px;
    background-position: -79px -278px;
}

.sprite-twitter-icon-gray {
    width: 22px;
    height: 22px;
    background-position: -111px -278px;
    display: inline-block;
}
.sprite-twitter-icon-gray:hover{
  background-position: -79px -278px;
}

.sprite-unchecked-box {
    width: 24px;
    height: 24px;
    background-position: -143px -278px;
    display: inline-block;
}

.sprite-up-blue-arrow {
    width: 315px;
    height: 264px;
    background-position: -5px -632px;
}

.sprite-version-2-0-ad {
    width: 284px;
    height: 164px;
    background-position: -330px -632px;
}

.sprite-watch-what-you-say-ad {
    width: 284px;
    height: 164px;
    background-position: -822px -5px;
}

.sprite-white-gear {
    width: 30px;
    height: 30px;
    background-position: -822px -179px;
    display: inline-block;
    margin: 10px;
}

.sprite-youtube-icon {
    width: 22px;
    height: 22px;
    background-position: -862px -179px;
}

.sprite-youtube-icon-gray {
    width: 22px;
    height: 22px;
    background-position: -894px -179px;
    display: inline-block;
}
.sprite-youtube-icon-gray:hover{
  background-position: -862px -179px;
}
