
.top-bar{
  background-color: #2395f0;
  color: white;
}
.icon-bar{
  background-color: #164872;
}
.icons{
  margin: auto;
  text-align: center;
  margin: 10px;
}
.dashboard{
  background-color: #33cc66;
  margin: auto;
  margin-top: 10px;
}
.nav-bar{
  list-style-type: none;
  display: inline-block;
}
.nav-bar li{
  display: inline;
  float: right; /* idea to float from https://stackoverflow.com/questions/885691/how-to-make-a-ul-display-in-a-horizontal-row */
}
.announcements{
  margin: auto;
  border: 1px solid lightgray;
  margin-top: 20px;
}
.announce-content{
  text-align: center;
}
.announce-text{
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
  color:black;
}
.left-border{
  border-left: 1px solid lightgray;
}
.right-border{
  border-right: 1px solid lightgray;
}
.search-bar{
  float: right;
  margin-top: 15px;
  background-color: white;
}
.search-icon{
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.search{
  float: right;
}
#navlist{
  position: relative;
  display: inline;
  margin: auto;
}
#navlist li{
  margin: 10;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline;
}
/* FIXME:  */
#dashboard-green a{
  background: url(../Project1/pics/dashboard-green.png);
}
/* FIXME:  */
#dashboard-green a:hover{
  background: url:(../Project1/pics/dashboard-blue2.png);
}
/* FIXME:  */
a:hover{
  background-image: url:('../Project1/pics/dashboard-blue2.png');
}

.icon-images{
  height: 60px;
  width: auto;
  margin-top: 10px;
}
.dashboard-text{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20pt;
  margin-top: 10px;
}
.dashboard-text1{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12pt;
  float: right;
  margin-right: 30px;
}
.announcements-text{
  font-family: 'Open Sans', sans-serif;
  color: orange;
  font-size: 12pt;
}
.black-text{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 10pt;
}
.orange-arrow{
  height: 20px;
  width: auto;
  text-align: center;
}
.border-without-top{
  border: 1px solid lightgray;
  border-top: 0px;
}

.blue-man-square{
  border: 1px solid lightgray;
  border-radius: 5px;
  float: right;
  display: inline-block;
}
.tasks{
  font-family: 'Open Sans', sans-serif;
  color: #2190e8;
  font-size: 20pt;
  text-align: left;
  padding-left:40px;
}
.tasks-gear{
  float: right;
  height: 20px;
  width: auto;
  margin-top: 10px;
}
.task-one{
  float: left;
  margin-left: 40px;
  border-bottom: 0.5px solid lightgray;
  padding-top: 10px;
}
.borderz{
  border-bottom: 0.5px dotted lightgray;
}
.task-pic-1{
  height: 20px;
  width: auto;
  margin-right: 30px;
}
.task-pic-2{
  float: right;
  height: 30px;
  width: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.tasks-container{
  border: 1px solid lightgray;
  margin: auto;
}
a.task-link:hover{
  text-decoration: none;
}
.form-date{
  float: right;
  border: 1px solid lightgray;
}
.form-date::-webkit-calendar-picker-indicator{ /*psuedo class info from https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker */
  color: orange;
}
.form-date::-webkit-datetime-edit{
  font-family: 'Open Sans', sans-serif;
  border-right: 1px solid lightgray;
}
.form-date::-webkit-inner-spin-button {
  display: none;
}
.date-arrow{
  height: 20px;
  width: auto;
  margin-top: 5px;
  float: right;
}
.activity-text{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  font-size: 10pt;
  margin-left: 40px;
}

.rec-pic-1{
  height: 30px;
  width: auto;
  margin-right: 30px;
  float: left;
}
.tiny-text{
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 6pt;
  margin: 0px;
}
.bar-graph{
  width: 100%;
  height: auto;
  margin: auto;
}
.social-media{
  margin-left: 5px;
  height: 50px;
  width: auto;
}
.check-boxes{
  float: left;
}

/* FIXME:  */
input[type=checkbox]:checked {
     background: url('../Project1/pics/green-check.png') 0 0px no-repeat;
 }
 .circle-charts{
   float: right;
 }
 .pie-chart{
   height: 100px;
   width: auto;
   margin-bottom: 10px;
 }
 .did-you-know{
   font-family: 'Open Sans', sans-serif;
   color: white;
   font-size: 10pt;
   border: 1px solid #2190e8;
   border-radius: 5px;
   background-color: #2190e8;
   padding: 35px;
   position: relative;
 }
 .left-orange-arrow{
   position: absolute; /*positioning images on top of one another from https://www.sitepoint.com/community/t/place-an-image-over-an-image/4264/2*/
   top: 50px;
   left: 10px;
   height: 40px;
   width: auto;
 }
 .right-orange-arrow{
   position: absolute; /*positioning images on top of one another from https://www.sitepoint.com/community/t/place-an-image-over-an-image/4264/2*/
   top: 50px;
   left: 540px;
   height: 40px;
   width: auto;
 }
 .line-graph{
   width: 300px;
   height: auto;
 }
 .ads{
   background-color: #2190e8;
   text-align: center;
 }
 .ad{
   border-radius: 5px;
   margin: 10px;
   width: 100%;
   height: auto;
 }
 .ad1{
   border-radius: 5px;
   margin-right: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-top: 5px;
   width: 100%;
   height: auto;
 }
 .up-blue-arrow{
   height: 15px;
   width: auto;
   float: right;
   margin-top: 5px;
 }
 .dog{
   height: 25px;
   width: auto;
   border: 1px solid white;
   border-radius: 5px;
   margin-right: 10px;
 }
 .gray{
   height: 20px;
   width: auto;
 }
 #facebook-icon{
   height: 20px;
   width: auto;
 }
 #facebook-icon:hover{
   content: url('../Project1/pics/facebook-icon.png');
   height: 20px;
   width: auto;
 }
 .centered{
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   color: black;
   font-size: 11pt;
 }
 .and{
   text-align: left;
 }
 .table-row td{
   border: 1px solid #dddddd;
   border-collapse: collapse;
   padding-top: 15px;
   padding-bottom: 5px;
   padding-left: 20px;
   padding-right: 20px;
 }
 table{
   margin-top: 20px;
   background-color: #f4f4f4;
   width: 100%;
 }
 .footer-link{
   text-decoration: none;
   color: black;
 }
 .footer-link:hover{
   text-decoration: none;
 }
 .extra{
   color: #2190e8
 }
