/*.gradient{
  background-image: linear-gradient(to bottom, #ebebeb, white);
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}*/
.all{
  background-color: white;
  margin: 0px;
  margin-top: 10px;
}
.black-text{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 10pt;
}

/* TOP BARS CSS */

.top-bar{
  background-color: #2395f0;
  color: white;
}
.icon-bar{
  background-image: url('../pics/sprites/diagonal-bg.png');
  background-repeat: repeat-x; /* repeating background images from https://www.w3schools.com/cssref/pr_background-repeat.asp */
  background-color: #164972;
}
.icons{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px

}
.dashboard{
  background-color: #33cc66;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
.nav-bar{
  list-style-type: none;
  display: inline-block;
}
.nav-bar li{
  display: inline;
  float: right; /* idea to float from https://stackoverflow.com/questions/885691/how-to-make-a-ul-display-in-a-horizontal-row */
}
.search-bar{
  float: right;
  margin-top: 15px;
  background-color: white;
}
.search-text{
  border: none;
}
.icon-images{
  height: 60px;
  width: auto;
  margin-top: 10px;

}
.dashboard-text{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20pt;
  margin-top: 10px;
}
.dashboard-text1{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12pt;
  float: right;
  margin-right: 30px;
}
/* END OF TOP BARS CSS */

/* ANNOUNCEMENTS SECTION CSS */

.announcements{
  margin: auto;
  border-bottom: 1px solid #ebebeb;
}
.announce-content{
  text-align: center;
  padding-left: 10px;
}
.announcement-title{
  padding-top: 10px;
}
.announce-text{
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
  color:black;
  padding-top: 10px;
}
.left-border{
  border-left: 1px solid #ebebeb;
}
.right-border{
  border-right: 1px solid #ebebeb;
}
.announcements-text{
  font-family: 'Open Sans', sans-serif;
  color: orange;
  font-size: 12pt;
}

/* END OF ANNOUNCEMENTS SECTION CSS */

/* TASK SECTION CSS */
.border-without-top{
  border: 1px solid #ebebeb;
  margin: 0px;
}
.tasks{
  font-family: 'Open Sans', sans-serif;
  color: #2190e8;
  font-size: 20pt;
  text-align: left;
  padding-left:40px;
}
.task-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  color: black;
  display: inline-block;
}
.task-text:hover{
  color: gray;
}
.tasks-gear{
  float: right;
  height: 20px;
  width: auto;
  margin-top: 10px;
}
.task-one{
  float: left;
  border-bottom: 0.5px solid #ebebeb;
  padding-top: 10px;
}
.task-link:hover{
  text-decoration: none;
}
.task-link:hover .sprite-blue-man-32{
  background-image: url('../pics/sprites.png');/*Help on sprite hover from Madison Walls */
  background-position: -70px -250px;
}
.task-link:hover .task-text{
  color: gray;
}
.task-link:hover .sprite-green-1{
  background-image: url('../pics/sprites.png');
  background-position: -138px -203px;
}
.task-link:hover .sprite-blue-man-36{
  background-image: url('../pics/sprites.png');
  background-position: -178px -250px;
}
.task-link:hover .sprite-green-2{
  background-image: url('../pics/sprites.png');
  background-position: -168px -203px;
}
.task-link:hover .sprite-green-3{
  background-image: url('../pics/sprites.png');
  background-position: -198px -203px;
}
.task-link:hover .sprite-green-4{
  background-image: url('../pics/sprites.png');
  background-position: -325px -203px;
}
.task-link:hover .sprite-blue-man-3{
  background-image: url('../pics/sprites.png');
  background-position: -5px -250px;
}
.task-stuff{
  display: inline-block;
}

/* END OF TASK SECTION CSS */

/* ANALYTICS SECTION CSS */

.analytics{
  border-left: 1px solid #ebebeb;
}
.activity-text{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  font-size: 10pt;
  margin-left: 40px;
  float: left;
}
.selection{
  padding: 10px;
  margin: 0px;
  border: none;
  background-color: white;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url('../Project1/pics/sprites/orange-down-arrow.png'); /*selector replacement from https://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-css-only-without-javascript */
}
.dropdown{
  border: 1px solid #ebebeb;
  border-radius: 5px;
  display: block;
  padding: 0px;
}
.down-arrow{
  margin-top: 15px;
  border-left: 1px solid #ebebeb;
}
input[type="checkbox"] {
    content: url(../pics/unchecked-box1.png);
    width: 35px;
    height: 35px;
    display: inline-block;
}
input[type="checkbox"]:checked {
    content: url(../pics/checked-box2.png);
    width: 35px;
    height: 35px;
    display: inline-block; /* changing checkboxes to images from https://stackoverflow.com/questions/18009296/how-to-change-image-on-click-and-get-back-again-on-clicking */
}
.bar-graph{
  width: 100%;
  height: auto;
  margin: auto;
}
.circle-charts{
  float: right;
  border-left: 1px solid #ebebeb;
}
.pie-chart{
  height: 100px;
  width: auto;
  margin-bottom: 10px;
}
.pie-text{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  font-size: 10pt;
}
.check-boxes{
  float: right;
  margin: auto;
}
.checks{
  display: inline;
}
.social-media{
  height: 50px;
  width: auto;
  margin-bottom: 15px;
  margin-right: 5px;
}

/* END OF ANALYTICS SECTION CSS*/

/* RECOMMENDATIONS SECTION CSS */

.rec-pic-1{
  height: 30px;
  width: auto;
  margin-right: 30px;
  float: left;
}
.tiny-text{
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 6pt;
  margin: 0px;
}
.rec-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: gray;
}
.borderz{
  border-bottom: 0.5px dotted #ebebeb;
}
.rec-link:hover .rec-text{
  color: black;
}

/* END OF RECOMMENDATIONS SECTION CSS */

/* CUSTOMERS SECTION CSS */

.customers-section{
  padding: 10px;
  border-top: 1px solid #ebebeb;
}
.customers{
  float: right;
  margin: 10px;
}
.customer1{
  display: inline-block;
  margin: 0px;
  margin-top: 20px;
}
.customer2{
  display: inline-block;
  float: right;
  margin-top: 20px;
}
.contacts{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 14pt;
  text-align: center;
}
.influencers{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 8pt;
    text-align: center;
    margin: 0px;
}
.customer-text{
  background-color: #2498f4;
  margin: 0px;
}
.orange-man{
  height: 100px;
  width: auto;
  display: block;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto; /*refresher on centering images from https://www.w3.org/Style/Examples/007/center.en.html#block */
  position: absolute;
  top: -36px;
  left: 30%; /* image on top of div from https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html */
}
.customer-div{
  display: inline-block;
  padding-top: 60px;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 0 4px lightgray;
}
.line-graph{
  margin-bottom: 10px;
  margin-top: 10px;
}

/* END OF CUSTOMERS SECTION CSS */

/* DID YOU KNOW SECTION CSS */
 .stuff{
    border-top: 1px solid #ebebeb;
  }
 .did-you-know{
   width: 100%;
   height: auto;
   font-family: 'Open Sans', sans-serif;
   color: white;
   font-size: 10pt;
   border: 1px solid #2190e8;
   border-radius: 5px;
   background-color: #2190e8;
   padding: 50px;
   position: relative;
   margin-top: 15px;
 }
 .left-orange-arrow{
   position: absolute; /*positioning images on top of one another from https://www.sitepoint.com/community/t/place-an-image-over-an-image/4264/2*/
   top: 40%;
   left: 15px;
   height: 40px;
   width: auto;
 }
 .right-orange-arrow{
   position: absolute; /*positioning images on top of one another from https://www.sitepoint.com/community/t/place-an-image-over-an-image/4264/2*/
   top: 40%;
   left: 93%;
   height: 40px;
   width: auto;
 }

 /* END OF DID YOU KNOW SECTION CSS */

 /* ADS SECTIONS CSS */

 .ad-section{
   margin: 0px;
 }
 .ads{
   background-color: #2190e8;
   text-align: center;
   margin: 0px;
 }
 .ad{
   border-radius: 5px;
   margin: 10px;
   width: 100%;
   height: auto;
   display: inline-block;
 }
 .ad1{
   border-radius: 5px;
   margin-right: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-top: 2px;
   width: 100%;
   height: auto;
   display: inline-block;
 }

 /* END OF ADS SECTION CSS */

 /* FOOTER SECTION CSS */

 .up-blue-arrow{
   height: 15px;
   width: auto;
   float: right;
   margin-top: 5px;
 }
 .car-icon{
   border: 1px solid white;
   border-radius: 5px;
   margin-right: 10px;
 }
 .gray{
   height: 20px;
   width: auto;
 }
 .centered{
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   color: black;
   font-size: 10pt;
 }
 .and{
   text-align: left;
 }
 .table-row td{
   border-right: 1px solid #dddddd;
   border-collapse: collapse;
   margin: 0px;
   padding-top: 10px;
   padding-left: 20px;
   padding-right: 20px;
   display: inline-block;
 }
 table{
   margin-top: 20px;
   background-color: #f4f4f4;
   width: 100%;
 }
 .footer-link{
   text-decoration: none;
   color: black;
 }
 .footer-link:hover{
   text-decoration: none;
 }
 .extra{
   color: #2190e8;
 }
 .extra1{
   color: #2190e8;

   margin-top: 15px;
 }
 /* END OF FOOTER SECTION CSS */
