
.top-bar{
  background-color: #2395f0;
  color: white;
}
.icon-bar{
  background-color: #164872;
}
.icons{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px
}
.dashboard{
  background-color: #33cc66;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
.nav-bar{
  list-style-type: none;
  display: inline-block;
}
.nav-bar li{
  display: inline;
  float: right; /* idea to float from https://stackoverflow.com/questions/885691/how-to-make-a-ul-display-in-a-horizontal-row */
}
.announcements{
  margin: auto;
  border: 1px solid lightgray;
  margin-top: 20px;
}
.announce-content{
  text-align: center;
}
.announce-text{
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
  color:black;
}
.left-border{
  border-left: 1px solid lightgray;
}
.right-border{
  border-right: 1px solid lightgray;
}
.search-bar{
  float: right;
  margin-top: 15px;
  background-color: white;
}
.search-text{
  border: none;
}
#navlist{
  position: relative;
  display: inline;
  margin: auto;
}
#navlist li{
  margin: 10;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline;
}

.icon-images{
  height: 60px;
  width: auto;
  margin-top: 10px;
}
.dashboard-text{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20pt;
  margin-top: 10px;
}
.dashboard-text1{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12pt;
  float: right;
  margin-right: 30px;
}
.announcements-text{
  font-family: 'Open Sans', sans-serif;
  color: orange;
  font-size: 12pt;
}
.black-text{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 10pt;
}
.orange-arrow{
  height: 20px;
  width: auto;
  text-align: center;
}
.border-without-top{
  border: 1px solid lightgray;
  border-top: 0px;
}

/* TASK SECTION CSS */

.tasks{
  font-family: 'Open Sans', sans-serif;
  color: #2190e8;
  font-size: 20pt;
  text-align: left;
  padding-left:40px;
}
.task-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  color: black;
}
.task-text:hover{
  color: gray;
}
.tasks-gear{
  float: right;
  height: 20px;
  width: auto;
  margin-top: 10px;
}
.task-one{
  float: left;
  border-bottom: 0.5px solid lightgray;
  padding-top: 10px;
}
.task-link:hover{
  text-decoration: none;
}
.task-link:hover .sprite-blue-man-32{
  background-image: url('../pics/sprites.png');/*Help on sprite hover from Madison Walls */
  background-position: -70px -166px;
}
.task-link:hover .task-text{
  color: gray;
}
.task-link:hover .sprite-green-1{
  background-image: url('../pics/sprites.png');
  background-position: -438px -77px;
}
.task-link:hover .sprite-blue-man-36{
  background-image: url('../pics/sprites.png');
  background-position: -135px -166px;
}
.task-link:hover .sprite-green-2{
  background-image: url('../pics/sprites.png');
  background-position: -645px -77px;
}
.task-link:hover .sprite-green-3{
  background-image: url('../pics/sprites.png');
  background-position: -5px -107px;
}
.task-link:hover .sprite-green-4{
  background-image: url('../pics/sprites.png');
  background-position: -35px -107px;
}
.task-link:hover .sprite-blue-man-3{
  background-image: url('../pics/sprites.png');
  background-position: -5px -166px;
}
.task-stuff{
  display: inline-block;
}

/* END OF TASK SECTION CSS */

/* ANALYTICS SECTION CSS */

.analytics{
  border-left: 1px solid lightgray;
}
.activity-text{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  font-size: 10pt;
  margin-left: 40px;
  float: left;
}
.selection{
  border: none;
  background-color: white;
}
.dropdown{
  border: 1px solid lightgray;
  display: block;
  padding: 0px;
}
.down-arrow{
  margin: 6px;
  border-left: 1px solid lightgray;
}
input[type="checkbox"] {
    content: url(../pics/unchecked-box1.png);
    width: 35px;
    height: 35px;
    display: inline-block;
}
input[type="checkbox"]:checked {
    content: url(../pics/checked-box2.png);
    width: 35px;
    height: 35px;
    display: inline-block; /* changing checkboxes to images from https://stackoverflow.com/questions/18009296/how-to-change-image-on-click-and-get-back-again-on-clicking */
}
.bar-graph{
  width: 100%;
  height: auto;
  margin: auto;
}
.circle-charts{
  float: right;
  border-left: 1px solid lightgray;
}
.pie-chart{
  height: 100px;
  width: auto;
  margin-bottom: 10px;
}
.pie-text{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  font-size: 10pt;
}
.check-boxes{
  float: right;
  margin: auto;
}
.checks{
  display: inline;
}
.social-media{
  height: 50px;
  width: auto;
  margin-bottom: 15px;
  margin-right: 5px;
}
.checks::selection{
  background-image: url('../Project1/pics/empty-check-box.png');
}

/* END OF ANALYTICS SECTION CSS*/

/* RECOMMENDATIONS SECTION CSS */

.rec-pic-1{
  height: 30px;
  width: auto;
  margin-right: 30px;
  float: left;
}
.tiny-text{
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 6pt;
  margin: 0px;
}
.rec-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: gray;
}
.borderz{
  border-bottom: 0.5px dotted lightgray;
}
.rec-link:hover .rec-text{
  color: black;
}

/* END OF RECOMMENDATIONS SECTION CSS */

/* CUSTOMERS SECTION CSS */

.customers{
  float: right;
  margin: 10px;
}
.customer1{
  display: inline-block;
}
.customer2{
  display: inline-block;
  float: right;
}
.contacts{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 14pt;
  text-align: center;
}
.influencers{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 8pt;
    text-align: center;
    margin: 0px;
}
.customer-text{
  background-color: #2498f4;
  margin: 0px;
}
.orange-man{
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; /*refresher on centering images from https://www.w3.org/Style/Examples/007/center.en.html#block */
  position: absolute;
  top: -30px;
  left: 110px; /* image on top of div from https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html */
}
.customer-div{
  border: 1px solid lightgray;
  display: inline-block;
  padding-top: 60px;
  position: relative;
}
.line-graph{
  margin-bottom: 10px;
  margin-top: 10px;
}

/* END OF CUSTOMERS SECTION CSS */

/* DID YOU KNOW SECTION CSS */

 .did-you-know{
   font-family: 'Open Sans', sans-serif;
   color: white;
   font-size: 10pt;
   border: 1px solid #2190e8;
   border-radius: 5px;
   background-color: #2190e8;
   padding: 35px;
   position: relative;
 }
 .left-orange-arrow{
   position: absolute; /*positioning images on top of one another from https://www.sitepoint.com/community/t/place-an-image-over-an-image/4264/2*/
   top: 50px;
   left: 0px;
   height: 40px;
   width: auto;
 }
 .right-orange-arrow{
   position: absolute; /*positioning images on top of one another from https://www.sitepoint.com/community/t/place-an-image-over-an-image/4264/2*/
   top: 50px;
   left: 725px;
   height: 40px;
   width: auto;
 }

 /* END OF DID YOU KNOW SECTION CSS */

 /* ADS SECTIONS CSS */

 .ads{
   background-color: #2190e8;
   text-align: center;
 }
 .ad{
   border-radius: 5px;
   margin: 10px;
   width: 100%;
   height: auto;
   display: inline-block;
 }
 .ad1{
   border-radius: 5px;
   margin-right: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-top: 5px;
   width: 100%;
   height: auto;
   display: inline-block;
 }

 /* END OF ADS SECTION CSS */

 /* FOOTER SECTION CSS */

 .up-blue-arrow{
   height: 15px;
   width: auto;
   float: right;
   margin-top: 5px;
 }
 .dog{
   height: 25px;
   width: auto;
   border: 1px solid white;
   border-radius: 5px;
   margin-right: 10px;
 }
 .gray{
   height: 20px;
   width: auto;
 }
 #facebook-icon{
   height: 20px;
   width: auto;
 }
 #facebook-icon:hover{
   content: url('../Project1/pics/facebook-icon.png');
   height: 20px;
   width: auto;
 }
 .centered{
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   color: black;
   font-size: 11pt;
 }
 .and{
   text-align: left;
 }
 .table-row td{
   border: 1px solid #dddddd;
   border-collapse: collapse;
   padding-top: 15px;
   padding-bottom: 5px;
   padding-left: 20px;
   padding-right: 20px;
 }
 table{
   margin-top: 20px;
   background-color: #f4f4f4;
   width: 100%;
 }
 .footer-link{
   text-decoration: none;
   color: black;
 }
 .footer-link:hover{
   text-decoration: none;
 }
 .extra{
   color: #2190e8
 }
 /* END OF FOOTER SECTION CSS */
